@media screen and (max-width: 480px) {
  
  body {
    overflow-x: hidden;
    width: 100%;
  }

 
  header {
    flex-direction: column; 
    height: auto;           
    padding: 15px 10px;    
    gap: 15px;             
    position: static;      
  }
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    }







    /*  navigation bar css */ 

.navbar {
  width: 100%;
  height: 80px;
  padding: 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;

}

.navbar-logo img {
  width: clamp(140px, 15vw, 180px);
  display: block;
  font-size:32px;
  color:#2563eb;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}


.logo h2{
    font-size:22px;
    font-weight:700;
}

.navbar-links {
  flex: 1;
  display: flex;
  gap: 8em;
  justify-content: flex-end;
  margin-right: 40px;
}

.navbar-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.navbar-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #222;
  font-size: 17px;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #0054e1;
}

.navbar-links img {
  width: 20px;
  height: 20px;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  
}

.navbar-buttons button {
  padding: 10px 28px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

#signup {
  background: #0054e1;
  color: white;
  border: 2px solid #0054e1;
}

#signup:hover {
  background: #0043b4;
}

#login {
  background: #0054e1;
  color: white;
  border: 2px solid #0054e1;
}

#login:hover {
  background: #0043b4;
}

.menu-icon img {
  width: 3em;
  display: none;
}

/*  Tablet responsive */

@media (max-width: 992px) {
  .navbar {
    padding: 0 1em;
    gap: 1em;
  }

  .navbar-links {
    position: relative;
    left: 28px;
  }

  .navbar-links ul {
    gap: 15px;
  }

  .navbar-links a {
    font-size: 1rem;
  }

  .navbar-buttons button {
    padding: 9px 20px;
    font-size: 0.9rem;
  }
}

/*  Mobile responsive */

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    background-color: #f9f9fa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    position: fixed;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 2em;
    
    
    left: 0;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .navbar-links a {
    font-size: clamp(15px, 5vw, 2em);
  }

  .navbar-buttons {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 2em;
  }

  .navbar-buttons button {
    padding: 0.8em 2em;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
  }

  #login {
    padding: 0.8em 2.4em;
  }
  .menu-icon img {
    display: block;
  }
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    }
body{
    background:#f8fafc;
    color:#1e293b;
    line-height:1.6;
}




.hero{
    text-align:center;
    padding:80px 20px;
    background: linear-gradient(to right, #dbeafe, #ffffff);
    
}
.hero h1{
    font-weight: 700px;
    margin-bottom: 15px;
    font-size: 50px;
}
.hero p{
    font-size: 20px;
    color:#64748b;
}
.one{
    font-size: 10px;
}
.Features{
    width:1200px;
    max-width:95%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
    padding-bottom:80px;
}

.cards{
    background:#fff;
    border-radius:20px;
    padding:40px 30px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.06);
    transition:.3s;
}
.cards:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
}
.img{
    width:90px;
    height:90px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    margin-bottom:25px;
}   
.img img{
    font-size:42px;
}
.blue{
    background:#e0ecff;
}
.blue img{
    color:#3b82f6;
}

.yellow{
    background:#fff4cc;
}

.yellow img{
    color:#facc15;
}

.green{
    background:#dcfce7;
}

.green img{
    color:#22c55e;
}

.purple{
    background:#ede9fe;
}

.purple img{
    color:#8b5cf6;
}

.cards h2{
    font-size:23px;
    margin-bottom:15px;
}

.cards p{
    color:#64748b;
    font-size:15px;
}

footer{
    background:#1e293b;
    color:white;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
    padding:60px 80px;
}

.footer-col h3{
    margin-bottom:18px;
}

.footer-col p{
    color:#cbd5e1;
}

.footer-col a{
    display:block;
    color:#cbd5e1;
    text-decoration:none;
    margin-bottom:10px;
    transition:.3s;
}

.footer-col a:hover{
    color:white;
}

.footer-col input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    margin-bottom:12px;
}

.footer-col button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.footer-col button:hover{
    background:#1d4ed8;
}

